body { background: rgb(115,255,195);
  background: linear-gradient(322deg, rgba(115,255,195,1) 0%, rgba(237,255,232,1) 100%);}

input[type="range"] {
accent-color: #08ff39;
width: 690px;
margin-right: 5px;
margin-bottom: 30px;
}

.p1 {
color: #158113;
text-shadow: 4px 4px 23px rgba(255, 255, 255, 1), 4px 4px 23px rgba(255, 255, 255, 1), 4px 4px 23px rgba(255, 255, 255, 1);
margin-top:10px;
font-family: "Concert One", sans-serif;
font-weight: 400;
font-style: normal;
}
